<img src="images/icon.svg" alt="music icon" width="40px">
<ul class="navigations" id="nav-Btn">
    <li><a href="/index.html"><img src="/images/home.svg" alt="home icon" width="15px"> Home</a></li>
    <li><a href="/playlist.html"><img src="/images/playlists.svg" alt="playlists icon" width="15px"> Playlists</a></li>
    <li><a href="/trending.html"><img src="/images/charts.svg" alt="charts icon" width="15px"> Trending</a></li>
    <li><a href="/favorite.html"><img src="/images/heart.svg" alt="favorites icon" width="15px"> Favorites</a></li>
</ul>
<div class="search-container">
    <input type="text" placeholder="Search..." class="search-input" id="searchInput">
    <button id="searchBtn"><img src="images/search.svg" alt="" width="20px" class="search-icon"></button>
</div>
<button id="ham-btn" class="hamburger"></button>