:root {
    --black: #121212;
    --gray: #2C2C2C;
    --cyan: #00B4D8;
    --lime: #9EF01A;
    --text: #E0E0E0;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin: 0px;
    background-color: var(--black);
}

h1, h2, h3, p {
    color: var(--text);
}

/************ Header  **************/

header {
    display: grid;
    grid-template-columns: 70px auto 200px 50px;
    padding: 16px 10px;
    background-color: var(--lime);
    margin: 0px;
}

header img {
    padding-left: 25px;
}

header ul {
    display: none;
    justify-content: space-around;
    padding: 0px 30px;
    font-size: 13px;
}

header li {
    list-style-type: none;
}

/*********** Hamburger Menu ***********/

.hamburger {
    grid-column: 4/5;
    background: none;
    border: none;
    margin-right: 0px;
    padding-right: 0px;
}

.hamburger::before {
    content: "\2630";
    font-size: 30px;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 34.5px;
}

.navigations.show {
    display: flex;
    justify-content: space-around;
    grid-column: 1/4;
    grid-row: 2/3;
}

/********** Search Bar ***********/

.search-container {
    grid-column: 3/4;
    position: relative;
    max-width: 350px;
    margin-right:20px;
}

.search-input {
    position: absolute;
    top: 18%;
    width: 100%;
    padding: 5px;
    border: 1px solid var(--black);
    border-radius: 20px;
    font: 16px;
}

.search-container button {
    position: absolute;
    right: 0px;
    top: 25%;
    background: none;
    border: none;
    padding: 0px;
}

/********** Music Card ********/

.track-card {
    color: var(--text);
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    width: 200px;
    margin: 10px;
}

.track-card p {
    margin: 5px;
}

.track-card a {
    text-decoration: none;
}

.track-card:hover{
    border: 1px solid var(--lime);
}

.track-card img {
    align-self: center;
    width: 150px;
}

#trackList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

